<div class = "row">
  <div class= "col-md-3" >
<app-sidebar [title]="str" (customEvent)="onClick($event)" (customKeyEvent)="onKeyup($event)" ></app-sidebar>
  </div>
  <div class= "col-md-9" >
<div class="form-group">
    <label >name</label>
    <input type="text" class="form-control" placeholder="p name" #input1 (keyup)="0" >
  </div>
<div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let item of arr |filter:input1.value" ><!---->
    <div class="thumbnail">
      <img src="{{item.pimg}}" alt="...">
      <div class="caption">
        <h3>{{item.pname}}</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
